* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    min-height: 100vh;
    display: flex;
    background: lightslategrey;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 400px;
    min-height: 180px;
    padding: 30px;
    background: white;
    border-radius: 5px;
    box-shadow: 4px 4px 1px rgba(255,255,255, 0.5);
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-items: flex-start;
}

#quote-box {
    height: 50%;
}

p {
    color: lightslategrey;
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
}

p:last-of-type {
    margin: 10px 0;
}

.btn-container {
    width: 100%;
}

button {
    float: right;
    border: none;
    outline: none;
    margin-right: 10px;
}

a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.btn {
    color: white;
    background-color: lightslategray;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    transition: all 700ms ease-in-out
}

.btn:hover {
    background-color: slategray
}