body {
    background-color: whitesmoke;
    color: #6B7F82;
}
header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    background-color: black;
}
a {
    color: #6B7F82;
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: -10px;
    padding: 0;
    background-color: black;
    overflow: hidden;
}
li {
    float: left;
    border-right: 1px solid grey;
}
.nav {
    display: block;
    text-align: center;
    padding: 0px 15px;
    text-decoration:  none;
}
a:hover {
    background-color: whitesmoke;
}
hr { 
    width: 40%; 
    height: 2px; 
    color:black; 
    background-color: black;
}
div#AboutMe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
}
div.photo {
    align-self:center;
}
p {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}